:plain
  <!DOCTYPE html>
  <!-- /ht Paul Irish - http://front.ie/j5OMXi -->
  <!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <title>Vänner till academian</title>
  <meta name="vänner till academian" content="">
  <meta name="ansvp" content="">

  <!-- /ht Andy Clarke - http://front.ie/lkCwyf -->
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <link rel="shortcut icon" href="/link/to/favicon.ico">
  <link rel="apple-touch-icon" href="/link/to/apple-touch-icon.png">

  <!-- /ht Jeremy Keith - http://front.ie/mLXiaS -->
  <link rel="stylesheet" href="css/example/global.css" media="all">
  <link rel="stylesheet" href="css/example/layout.css" media="all and (min-width: 33.236em)">
  <!-- 30em + (1.618em * 2) = 33.236em / Eliminates potential of horizontal scrolling in most cases -->

  <!--[if (lt IE 9) & (!IEMobile)]>
  <link rel="stylesheet" href="css/example/layout.css" media="all">
  <![endif]-->

  <script src="js/libs/modernizr-1.7.min.js"></script>
    
  </head>

  <body>
    
    <div id="container" class="cf"> 
      
      <article>
        <header>
          <h2>
            <img src="images/example/header-logo.png" alt="Front" id="header-logo">
          </h2> 
          <h1>Vänner till academian <span>introduceras till höstfesten 2013</span></h1>
        </header>
        
        <div id="main" role="main" class="cf">
          <p class="intro">
          Till hösten erbjuds nya samarbetsmöjligheter vi kallar "Vänner till Academian". Detta är när du deltar med företaget du jobbar på genom att välja en av tre olika paket för 1200, 3000 och 4500 kr. För detta blir hela företaget vän med Academian och gör en stor insats för att göra höstfesten änu bättre.</p> 
   
          <aside> 
            <img src="images/example/bjorn.jpg" alt="" /> 
          </aside>

          <p>Detta är något som är väldigt uppskattat och vi hoppas att ni tycker det skulle vara kul att vara med!

  Innehållet i nivåerna är inte helt bestämt och vi kommer att jobba med alla fall individuellt. Skulle ni vilja vara med så meddela oss snart. Välj då en nivå som passar just er och så hjälps vi åt att hitta en passande publicitetsmöjlighet. 

  Skriv in namn och mailadress nedan om du skulle vilja höra mer om vilka möjligheter som finns. </p>   
  <!-- PLATS FÖR FORM -->
  <img src="images/example/form.png" alt="" />

  <br><br>
    
          <p>
  Redan nu har vi fått nya Vänner. SATS kommer till exempel att vara med genom Mats Oreberg. Kul tycker vi och hoppas att det är fler som vill vara med till höstfesten. Kom ihåg att ju tidigare man anmäler sig, destu fler möjligheter att samarbeta finns det!
  </p>    
  <footer>
            <center>
            Vänner till academian:<br><br>
            <img src="images/example/logo-sats.png" alt="" />
            </center>
            <br>
  </footer>

        </div><!-- /main -->
      
      </article>
      
    </div><!-- /container -->      
    
  </body>

  </html>
