%form.form-horizontal{method: :post}
  .control-group
    %label
      Name
      %input{type: :text, name: :name, required: true}
  .control-group
    %label
      Email
      %input{type: :email, name: :email, required: true}
  .control-group
    %label
      %button.btn{type: :submit, style: "margin-left: 3.4em;"} Kontakta mig
